@import "@material/theme/color-palette";

$mdc-theme-primary: #9E2020;
$mdc-theme-secondary: #8F9394;
$mdc-theme-background: #2B282E;
$mdc-theme-surface: #F4F0EB;
$mdc-theme-error: $material-color-red-900;
